# Node.js
node_modules/
dist/
dist-ssr/
*.local
.eslintcache

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Database
*.sqlite3
uploads/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

migrate.py